spring:
  application:
    name: jwt
  datasource:
    url: jdbc:h2:mem:usuarios
    username: sa
    password:
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect
